






<html>
<head>
</head>
 <style>
        body {
            font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            background-color: #ffffff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            overflow: hidden;
        }

        .header {
            background-color: {{ config.colors.secondary.main }};
            height: 60px;
        }

        .logo {
            text-align: center;
            padding: 20px 0;
        }

        .logo img {
            max-width: 200px;
            height: auto;
        }

        .content {
            padding: 30px;
            height: 458px;
        }

        h1 {
            font-weight: 300;
            font-size: 28px;
            margin: 0 0 20px;
        }

        p {
            font-size: 16px;
            color: #333;
            margin-bottom: 20px;
        }

        table {
            width: 100%;
            font-size: 14px;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            text-transform: uppercase;
            font-weight: bold;
            color: #555;
        }

        .totals {
            margin-top: 20px;
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
        }

        .totals table {
            width: 100%;
        }

        .totals .total {
            font-weight: bold;
            color: #333;
        }

        .footer {
            text-align: center;
            padding: 20px 0;
            background-color: #333;
            color: #fff;
            font-size: 14px;
        }
    </style>
<body style="font-family: 'Helvetica Neue','Helvetica','Arial',sans-serif; margin: 0; background: #eee; padding: 10px 0 50px;">
  <div style="max-width: 600px; margin: 10px auto; background: white;">
    <div style="background: {{ config.colors.secondary.main }}; height: 50px;"></div>
     <div class="logo">
        <img src="https://phonelasso.net/image/phone-lasso.png" alt="Your Logo" style="max-width: 200px; margin-bottom: 20px;">
        </div>
    <div style="padding: 30px">
      <h1 style="font-weight: 200; margin: 0 0 20px; font-size: 28px;">
        Order Confirmation
      </h1>
      <p style="margin-bottom: 30px; font-size: 16px;">Thanks for your order with {{ config.store_name}}!</p>
      <table style="margin-bottom: 20px; font-size: 12px; color: #555; width:100%;">
        <tbody>
          <tr>
            <td style="width: 50%;">
              <div style="color: black; font-weight: bold; margin-bottom: 5px;">Shipping Address:</div>
              <div>{{ order.shipping.name }}</div>
              <div>{{ order.shipping.address.line1 }}</div>
              <div>{{ order.shipping.address.line2 }}</div>
              <div>{{ order.shipping.address.city }}, {{ order.shipping.address.state }}</div>
              <div>{{ order.shipping.address.postal_code }}</div>
            </td>
            <td style="vertical-align: top;">            
              <div style="color: black; font-weight: bold; margin-bottom: 5px;">Order ID:</div>
              <div>{{ order_id }}</div>
              <div style="color: black; font-weight: bold; margin: 9px 0 5px;">Order Date:</div>
              <div>{{ order_date }}</div>
            </td>
          </tr>
        </tbody>
      </table>
      <table style="width: 100%; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding-bottom: 10px; font-size: 12px;">
        <thead>
          <tr style="font-size: 12px;">
            <th style="text-align: left; text-transform: uppercase; padding: 20px 0 10px;">Item</th>
            <th style="text-align: right; text-transform: uppercase; padding: 20px 0 10px;">Quantity</th>
            <th style="text-align: right; text-transform: uppercase; padding: 20px 0 10px;">Subtotal</th>
          </tr>
        </thead>
        <tbody>
          {{#each items }}
            <tr style="font-size: 14px;">
              <td style="padding: 0 0 10px;">{{this.name}}</td>
              <td style="padding: 0 0 10px; color: #555; text-align: right;">{{ this.quantity }}x</td>
              <td style="padding: 0 0 10px; color: #555; text-align: right;">${{ this.price }}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      <table style="width:100%; margin-top: 20px;">
        <tbody>
          <tr>
            <td style="width: 50%;"></td>
            <td>
              <table style="font-size: 14px; width:100%;">
                <tbody>
                 
                  <tr style="color: #555;">
                    <td style="padding-bottom: 5px;">Shipping</td>
                    <td style="text-align: right;">{{order_shipping}}</td>
                  </tr> <tr style="color: #555;">
                    <td style="padding-bottom: 5px;">Subtotal</td>
                    <td style="text-align: right;">{{ order_total }}</td>
                  </tr>
                  <tr style="font-weight: bold;">
                    <td>Total</td>
                    <td style="text-align: right;">{{ order_total }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>